button {
    position: fixed;
    width: 90px;
    border-width: 5px;
    border-radius: 100%;
    border-color: orange;
    background-color: white;
    color: orange;
}

button:hover {
    background-color: orange;
    color: white;
}

#addButton {
    font-size: 75px;
    bottom: 10%;
    right: 6%;
}

#separateButton {
    font-size: 30px;
    bottom: 10%;
    right: 16%;
}

#itemsList {
    margin-top: 20px;
}

#headText {
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 14px;
}

#invisible {
    color: transparent;
}

#itemDiv {
    padding: 0px 0px 10px 0px;
    float: left;
    width: 20%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}

#itemDiv:hover {
    background-color: rgba(255, 166, 0, 0.616);
}