button {
    position: fixed;
    bottom: 10%;
    right: 6%;
    font-size: 80px;
    width: 90px;
    border-width: 5px;
    border-radius: 100%;
    border-color: orange;
    background-color: white;
    color: orange;
}

button:hover {
    background-color: orange;
    color: white;
}

#itemsList {
    margin-top: 20px;
}

#itemDiv {
    padding: 0px 0px 10px 0px;
    float: left;
    width: 20%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}

#itemDiv:hover {
    background-color: rgba(255, 166, 0, 0.616);
}