#itemDiv {
    padding: 1px 0px 10px 0px;
    float: left;
    width: 20%;
    height: 200px;
    overflow: hidden;
}

#itemDiv:hover {
    background-color: #9a46b35b;
}

#titleInput {
    margin-top: 25px;
    margin-bottom: 25px;
}