#descriptionInputModal {
    background: transparent;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    width: 98%;
    min-height: 100px;
    border-radius: 20px;
}

button {
    width: 47%;
    margin-right: 20px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.301);
}

#save-button {
    color: rgb(25, 190, 25);
}

#close-button {
    float: right;
    background: rgba(255, 255, 255, 0);
    border: 0px;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

#close-button:hover {
    background-color: orange;
}

#delete-button {
    color: rgb(214, 29, 29);
}