p {
    color: #fff;
}

input {
    color: #fff;
}

#descriptionInputModal {
    background: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    width: 100%;
    min-height: 100px;
    border-radius: 20px;
}

#contextInputModal {
    color: #fff;
}

button {
    width: 30%;
    margin-right: 20px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.301);
}

#save-button {
    color: rgb(25, 190, 25);
}

#discard-button {
    color: yellow;
}

#delete-button {
    color: rgb(214, 29, 29);
}