.button {
    width: 100%;
}

#close-button {
    float: right;
    background: rgba(255, 255, 255, 0);
    border: 0px;
    width: 50px;
    margin-bottom: 10px;
}

#close-button:hover {
    background-color: black;
    color: white;
}

#descriptionInputModal {
    font-size: 18px;
    min-height: 100px;
    margin-bottom: 10px;
}

#save-button {
    color: rgb(25, 190, 25);
}

#save-button:hover {
    background-color: rgb(25, 190, 25);;
    color: white;
}